In [6]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import config1

%load_ext google.cloud.bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=config1.GOOGLE_APPLICATION_CREDENTIALS

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [7]:
na = pd.read_pickle('natural_amenity_rank.pkl')
na = na.dropna()
na = na.drop_duplicates('ZIP')
na['ZIP'] = na['ZIP'].astype(int).astype(str).apply(lambda s : s.strip())
na.rename(columns = {'ZIP':'geo_id'}, inplace = True)

In [28]:
%%bigquery acs_2011
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2011_5yr`

In [29]:
%%bigquery acs_2012
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2012_5yr`

In [30]:
%%bigquery acs_2013
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2013_5yr`

In [31]:
%%bigquery acs_2014
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2014_5yr`

In [32]:
%%bigquery acs_2015
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2015_5yr`

In [33]:
%%bigquery acs_2016
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2016_5yr`

In [34]:
%%bigquery acs_2017
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2017_5yr`

In [35]:
%%bigquery acs_2018
SELECT
    geo_id,
    total_pop,
    median_age,
    white_pop,
    black_pop,
    asian_pop,
    hispanic_pop,
    gini_index,
    income_per_capita,
    vacant_housing_units_for_rent,
    housing_units_renter_occupied,
    percent_income_spent_on_rent,
    high_school_diploma,
    associates_degree,
    bachelors_degree,
    masters_degree
FROM `bigquery-public-data.census_bureau_acs.zip_codes_2018_5yr`

In [36]:
acs_list = [acs_2011, acs_2012,acs_2013,acs_2014,acs_2015,acs_2016,acs_2017,acs_2018]

In [37]:
columns = ['white_pop', 'black_pop','asian_pop', 'hispanic_pop','high_school_diploma',
'associates_degree', 'bachelors_degree','masters_degree']
for i, acs in enumerate(acs_list, 1):
    acs['total_pop'] = [1 if x ==0  else x for x in acs['total_pop']]
    acs['housing_units_renter_occupied'] = [1 if x ==0  else x for x in acs['housing_units_renter_occupied']]
    for column in columns:
        acs[column] = acs[column]/ acs['total_pop']
    acs['rental_units_supply'] = acs['vacant_housing_units_for_rent'] + acs['housing_units_renter_occupied']
    acs['vacant_housing_units_for_rent'] = acs['vacant_housing_units_for_rent']/(acs['vacant_housing_units_for_rent']+acs['housing_units_renter_occupied'])
    acs.sort_values(by= ['geo_id'],inplace=True)

In [38]:
acs_2018['population_change'] = (acs_2018['total_pop'] - acs_2017['total_pop'])/ acs_2017['total_pop']
acs_2017['population_change'] = (acs_2017['total_pop'] - acs_2016['total_pop'])/ acs_2016['total_pop']

In [39]:
acs_2015['total_pop'] = acs_2015['total_pop'].astype(int)
acs_2016['population_change'] = (acs_2016['total_pop'] - acs_2015['total_pop'])/ acs_2015['total_pop']
acs_2015['population_change'] = (acs_2015['total_pop'] - acs_2014['total_pop'])/ acs_2014['total_pop']
acs_2014['population_change'] = (acs_2014['total_pop'] - acs_2013['total_pop'])/ acs_2013['total_pop']
acs_2013['population_change'] = (acs_2013['total_pop'] - acs_2012['total_pop'])/ acs_2012['total_pop']
acs_2012['population_change'] = (acs_2012['total_pop'] - acs_2011['total_pop'])/ acs_2011['total_pop']

In [40]:
acs_2015['income_per_capita'] = acs_2015['income_per_capita'].fillna(value=np.nan).astype(float)

In [41]:
acs_2018['income_change'] = (acs_2018['income_per_capita'] - acs_2017['income_per_capita'])/ acs_2017['income_per_capita']
acs_2017['income_change'] = (acs_2017['income_per_capita'] - acs_2016['income_per_capita'])/ acs_2016['income_per_capita']
acs_2016['income_change'] = (acs_2016['income_per_capita'] - acs_2015['income_per_capita'])/ acs_2015['income_per_capita']
acs_2015['income_change'] = (acs_2015['income_per_capita'] - acs_2014['income_per_capita'])/ acs_2014['income_per_capita']
acs_2014['income_change'] = (acs_2014['income_per_capita'] - acs_2013['income_per_capita'])/ acs_2013['income_per_capita']
acs_2013['income_change'] = (acs_2013['income_per_capita'] - acs_2012['income_per_capita'])/ acs_2012['income_per_capita']
acs_2012['income_change'] = (acs_2012['income_per_capita'] - acs_2011['income_per_capita'])/ acs_2011['income_per_capita']

In [42]:
acs_2015['rental_units_supply'] = acs_2015['rental_units_supply'].astype(int)

In [43]:
acs_2018['supply_change'] = (acs_2018['rental_units_supply'] - acs_2017['rental_units_supply'])/ acs_2017['rental_units_supply']
acs_2017['supply_change'] = (acs_2017['rental_units_supply'] - acs_2016['rental_units_supply'])/ acs_2016['rental_units_supply']
acs_2016['supply_change'] = (acs_2016['rental_units_supply'] - acs_2015['rental_units_supply'])/ acs_2015['rental_units_supply']
acs_2015['supply_change'] = (acs_2015['rental_units_supply'] - acs_2014['rental_units_supply'])/ acs_2014['rental_units_supply']
acs_2014['supply_change'] = (acs_2014['rental_units_supply'] - acs_2013['rental_units_supply'])/ acs_2013['rental_units_supply']
acs_2013['supply_change'] = (acs_2013['rental_units_supply'] - acs_2012['rental_units_supply'])/ acs_2012['rental_units_supply']
acs_2012['supply_change'] = (acs_2012['rental_units_supply'] - acs_2011['rental_units_supply'])/ acs_2011['rental_units_supply']

In [44]:
combined_acs = pd.DataFrame()
for i, acs in enumerate (acs_list, 1):
    acs['year']= 2010 + i
    combined_acs = pd.concat([combined_acs, acs])

In [45]:
combined_acs=pd.merge(combined_acs, na, how = 'left', on = 'geo_id')

In [46]:
combined_acs['natural_amenity_rank'] = combined_acs['natural_amenity_rank'].fillna(3)

In [49]:
combined_acs.to_csv('acs_data.csv')

In [48]:
combined_acs.sample(10)

,geo_id,total_pop,median_age,white_pop,black_pop,asian_pop,hispanic_pop,gini_index,income_per_capita,vacant_housing_units_for_rent,...,high_school_diploma,associates_degree,bachelors_degree,masters_degree,rental_units_supply,year,population_change,income_change,supply_change,natural_amenity_rank
190608,72522,457.0,43,0.982495,0.0175055,0,0,0.3207,25414.0,0,...,0.185996,0.0765864,0.0328228,0.131291,24.0,2016,0.865306,0.360420,-0.368421,4.0
144212,36474,3154.0,44.6,0.8801521876981610653138871275,0.08402029169308814204185161699,0,0.03202282815472415979708306912,0.402,16292.0,0.07486631016042780748663101604,...,0.1857958148383005707038681040,0.07070386810399492707672796449,0.05358275206087507926442612555,0.01807228915662650602409638554,187.0,2015,4.808471,-0.321365,25.714286,3.0
221981,67220,13711.0,33.5,0.536358,0.219313,0.129312,0.0738823,0.4227,26593.0,0.0968762,...,0.105536,0.042083,0.154912,0.0811757,2529.0,2017,0.057295,0.186605,0.174640,3.0
184308,55753,964.0,44.1,0.939834,0,0,0.030083,0.3776,22292.0,0.174603,...,0.198133,0.093361,0.0840249,0.00622407,63.0,2016,-0.878559,-0.162616,-0.880907,2.0
256369,71322,6089.0,37.6,0.531779,0.45032,0,0.0179011,0.4617,18914.0,0.168132,...,0.186566,0.0224996,0.0673345,0.02135,910.0,2018,-0.394009,-0.481510,-0.226190,3.0
153989,62467,3924.0,37.4,0.9895514780835881753312945973,0,0.004077471967380224260958205912,0.0005096839959225280326197757390,0.3626,29613.0,0,...,0.2262996941896024464831804281,0.08715596330275229357798165138,0.1088175331294597349643221203,0.05530071355759429153924566769,158.0,2015,0.497710,-0.099389,-0.097143,2.0
94219,80530,3515.0,38.1,0.743101,0,0.0230441,0.229872,0.3096,27549.0,0,...,0.183215,0.055761,0.166145,0.0122333,184.0,2013,3.174584,0.445914,2.118644,4.0
206823,26142,2355.0,43.1,0.881529,0.0475584,0,0.0437367,0.4646,30118.0,0,...,0.192357,0.0649682,0.109554,0.0271762,241.0,2017,-0.301601,0.954065,0.080717,3.0
77896,36260,3920.0,44.9,0.721429,0.127041,0,0.114541,0.3827,19599.0,0,...,0.241837,0.0642857,0.0377551,0.0334184,248.0,2013,2.228995,-0.167912,3.769231,4.0
184934,57038,1511.0,42.7,0.954335,0.00264725,0.0125745,0.0112508,0.4164,38484.0,0.319149,...,0.186631,0.0840503,0.110523,0.088683,47.0,2016,0.777647,-0.106042,-0.520408,3.0

In [17]:
combined_acs= pd.read_pickle('acs_data.pkl')

In [36]:
combined_acs['geo_id'].value_counts()

94591    8
58482    8
20868    8
85545    8
56449    8
        ..
34120    8
90255    8
65746    8
27803    8
76402    8
Name: geo_id, Length: 33120, dtype: int64

In [51]:
combined_acs.loc[combined_acs['year']==2019].loc[combined_acs['associates_degree'].isna()].value_counts('geo_id')

Series([], dtype: int64)